body {
    background-color: #c1c1c1;
    margin: 30px;
}

p {
    text-align: justify;
    margin-left: 40px;
}

img {
    margin-left: 40px;
}

h1 {
    font-family: sans-serif;
}

h2 {
    font-family: monospace;
}

.tabla1 {
    font-family: sans-serif;
    border-collapse: collapse;
    border: 1;
}

th {
    border: 2px solid #000000;
    background-color: #ffffff;
}

td {
    border: 2px solid #000000;
}

tr:nth-child(odd) {
    background-color: #40c8e2;
}

a {
    font-family: sans-serif;
    text-decoration: none;
    color: blue;
}

a:visited {
    text-decoration: none;
    color: purple;
}
